@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.related-content {
  display: none;

  @media only all and (min-width: settings.$breakpoint-large) {
    border-bottom: var(--border);
    border-top: var(--border);
    display: unset;
    list-style: none;
    margin: 0 0 0 auto;
    width: 100%;

    @include mixins.padding(24, "bottom");
    @include mixins.padding(0, "left");
    @include mixins.padding(24, "top");
  }
}

.related-content__item {
  @include mixins.margin(24, "bottom");

  &:last-child {
    @include mixins.margin(0, "bottom");
  }
}

.related-content__item-title,
.related-content__item-type {
  @include mixins.margin(0);
  @include mixins.margin(6, "bottom");
}

.related-content__item-type {
  @include typography.related-content-type-text();
}

.related-content__item-link {
  @include typography.related-content-link-text();
}

.related-content__item-content {
  @include typography.body-small();
}
