@use "../../../sass/layout";
@use "../../../sass/settings";
@use "../../../sass/mixins";
@use "../../../sass/typography";

.article-body-container {
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    margin-left: 36px;
  }
}

.menu-spacer {
  display: none;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    @include mixins.margin(24, "right");

    display: block;
    flex: 0 0 auto;
    max-width: 180px;
    width: 100%;
  }
}
