@use "./typography";
@use "./settings";

@mixin generated-content() {
  @include typography.body();

  h1 {
    @include typography.heading-2();
  }

  h2 {
    @include typography.heading-3();
  }

  h3 {
    @include typography.heading-4();
  }

  h4 {
    @include typography.heading-5();
  }

  a {
    border-bottom: 1px dotted var(--link-decoration);
    color: var(--link-decoration);
    text-decoration: none;

    &:hover {
      border-bottom-color: var(--color-primary);
      color: var(--color-primary);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--dark-mode-color);
      border-bottom: 1px dotted #fff;
    }
  }

  span > a:not(:first-child)::before {
    content: "; ";
  }

  img {
    max-width: 100%;
  }
}
