@use "./typography";
@use "./settings";

@mixin generated-content() {
  @include typography.body();

  h1 {
    @include typography.heading-2();
  }

  h2 {
    @include typography.heading-3();
  }

  h3 {
    @include typography.heading-4();
  }

  h4 {
    @include typography.heading-5();
  }

  a {
    border-bottom: 1px dotted var(--link-decoration);
    color: var(--link-decoration);
    text-decoration: none;

    &:hover {
      border-bottom-color: var(--color-primary);
      color: var(--color-primary);
    }
  }

  span > a:not(:first-child)::before {
    content: "; ";
  }

  img {
    max-width: 100%;
  }

  img.inline-image {
    max-height: 1.2rem;
    vertical-align: middle;
  }

  .list-order {
    list-style: decimal;
  }

  .list-bullet {
    list-style: disc;
  }

  .list-alpha-lower {
    list-style: lower-alpha;
  }

  .list-alpha-upper {
    list-style: upper-alpha;
  }

  .list-roman-lower {
    list-style: lower-roman;
  }

  .list-roman-upper {
    list-style: upper-roman;
  }

  .list-simple,
  .list-custom {
    list-style: none;
  }
}
