@use "settings";
@use "mixins";

*::before,
*::after {
  box-sizing: border-box;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 1px;
}

.grid-container {
  @media only all and (min-width: settings.$breakpoint-small) {
    @include mixins.grid();
  }

  max-width: settings.$max-site-width;
}

.grid-header {
  @media only all and (min-width: settings.$breakpoint-small) {
    grid-column: 1/13;
    grid-row: 1;
  }
}

.primary-section-header {
  @media only all and (min-width: settings.$breakpoint-small) {
    grid-column: 1/13;
    grid-row: 2;
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    grid-column: 2/12;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    grid-column: 1/9;
  }

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    @include mixins.padding(36, "right");

    grid-column: 1/10;
  }
}

.primary-section {
  @media only all and (min-width: settings.$breakpoint-small) {
    grid-column: 1/13;
    grid-row: 4;
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    grid-column: 2/12;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    grid-column: 1/9;
    grid-row: 3;
  }

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    @include mixins.padding(36, "right");

    grid-column: 1/10;
  }
}

.side-section {
  @media only all and (min-width: settings.$breakpoint-small) {
    grid-column: 1/13;
    grid-row: 3;
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    align-items: start;
    display: flex;
    flex-direction: row;
    grid-column: 2/12;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.z-index(3); // Added for the modal to be above the sticky navigation
    @include mixins.padding(10, "left");

    align-items: end;
    flex-direction: column;
    grid-column: 9/13;
    grid-row: 2/4;
    justify-content: space-between;
    margin-top: 62px;
    max-width: 250px;
    place-self: flex-start end;
    position: sticky;
    top: 125px;
  }

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    @include mixins.z-index(3); // Added for the modal to be above the sticky navigation

    grid-column: 10/13;
  }
}
