@use "settings";

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 1px;
}

  .grid-container {
    display: grid;
    grid-column-gap: settings.$grid-gutter;
    grid-template-columns: repeat(12, 1fr);
    max-width: settings.$max-site-width;
  }

  .grid-header {
    grid-column: 1/13;
    grid-row: 1;
  }

  .primary-column-header {
    grid-column: 1/13;
    grid-row: 2;
  }

  .secondary-column {
    grid-column: 1/13;
    grid-row: 3;
  }

  .primary-column {
    grid-column: 1/13;
    grid-row: 4;
  }

@media only all and (min-width: settings.$breakpoint-large) {
  .grid-container {
    display: grid;
    grid-column-gap: settings.$grid-gutter;
    grid-template-columns: repeat(12, 1fr);
    max-width: settings.$max-site-width;
  }

  .grid-header {
    grid-column: 1/13;
  }

  .primary-column-header {
    grid-column: 1/10;
    grid-row: 2;
  }

  .secondary-column {
    grid-column: 10/13;
    grid-row: 2/4;
  }

  .primary-column {
    grid-column: 1/10;
    grid-row: 3;
  }
}
