@use "settings";
@use "mixins";

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 1px;
}

.grid-container {
  @media only all and (min-width: settings.$breakpoint-small) {
    @include mixins.grid();
  }

  max-width: settings.$max-site-width;
}

@media only all and (min-width: settings.$breakpoint-small) {
  .grid-header {
    grid-column: 1/13;
    grid-row: 1;
  }

  .primary-section-header {
    grid-column: 1/13;
    grid-row: 2;
  }

  .side-section {
    @include mixins.grid();

    border-bottom: settings.$border;
    grid-column: 1/13;
    grid-row: 3;
  }

  .primary-section {
    grid-column: 1/13;
    grid-row: 4;
  }
}

@media only all and (min-width: settings.$breakpoint-medium) {
  .primary-section-header {
    grid-column: 2/12;
    grid-row: 2;
  }

  .side-section {
    grid-column: 2/12;
    grid-row: 3;
  }

  .primary-section {
    grid-column: 2/12;
    grid-row: 4;
  }
}

@media only all and (min-width: settings.$breakpoint-large) {
  .grid-header {
    grid-column: 1/13;
  }

  .primary-section-header {
    grid-column: 1/10;
    grid-row: 2;
  }

  .side-section {
    align-self: flex-start;
    border-bottom: none;
    display: block;
    grid-column: 10/13;
    grid-row: 2/4;
    margin-top: 75px;
    position: sticky;
    top: 125px;
  }

  .primary-section {
    grid-column: 1/10;
    grid-row: 3;
  }
}
