@use "sass:list";
@use "settings";
@use "typography";

@mixin grid() {
  @supports (display: grid) {
    display: grid;
    grid-column-gap: settings.$grid-gutter;
    grid-template-columns: repeat(12, 1fr);
  }
}

@mixin padding($size_in_px, $dimension: "") {
  @if $dimension == top or $dimension == right or $dimension == bottom or $dimension == left {
    padding-#{$dimension}: #{$size_in_px}px;
    padding-#{$dimension}: #{typography.get-rem-from-px($size_in_px)}rem;
  } @else if $dimension == "" and type_of($size_in_px) == list {
    $parts-px: ();
    $parts-rem: ();

    @each $size in $size_in_px {
      $parts-px: list.append($parts-px, #{$size}px, "space");
    }

    @each $size in $size_in_px {
      $parts-rem: list.append($parts-rem, #{typography.get-rem-from-px($size)}rem, "space");
    }

    padding: $parts-px;
    padding: $parts-rem;
  } @else {
    padding: #{$size_in_px}px;
    padding: #{typography.get-rem-from-px($size_in_px)}rem;
  }
}

@mixin margin($size_in_px, $dimension: "") {
  @if $dimension == top or $dimension == right or $dimension == bottom or $dimension == left {
    margin-#{$dimension}: #{$size_in_px}px;
    margin-#{$dimension}: #{typography.get-rem-from-px($size_in_px)}rem;
  } @else if $dimension == "" and type_of($size_in_px) == list {
    $parts-px: ();
    $parts-rem: ();

    @each $size in $size_in_px {
      $parts-px: list.append($parts-px, #{$size}px, "space");
    }

    @each $size in $size_in_px {
      $parts-rem: list.append($parts-rem, #{typography.get-rem-from-px($size)}rem, "space");
    }

    margin: $parts-px;
    margin: $parts-rem;
  } @else {
    margin: #{$size_in_px}px;
    margin: #{typography.get-rem-from-px($size_in_px)}rem;
  }
}

@mixin wrapper($padding: true) {
  box-sizing: content-box;
  margin: auto;

  @include constrain-width(settings.$max-site-width, "max");

  @if $padding {
    padding-left: #{settings.$site-spacing};
    padding-right: #{settings.$site-spacing};

    @media only screen and (min-width: settings.$breakpoint-small) {
      padding-left: #{settings.$site-spacing-large};
      padding-right: #{settings.$site-spacing-large};
    }
  }
}

@mixin constrain-width($size_in_px, $extreme) {
  @if $extreme == min or $extreme == max {
    #{$extreme}-width: #{$size_in_px};
    #{$extreme}-width: #{typography.get-rem-from-px($size_in_px)}rem;
  }
}

@mixin height($size_in_px) {
  height: #{$size_in_px}px;
  height: #{typography.get-rem-from-px($size_in_px)}rem;
}

@mixin visuallyhidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 1px;
}

@mixin visuallyunhidden() {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: auto;
  position: static;
  width: auto;
}

@mixin button-icon() {
  @include padding(41, "left");

  background-position-x: 11px;
  background-position-y: 15px;
  background-repeat: no-repeat;
  vertical-align: middle;

  &.button--action {
    @include padding(20, "right");

    background-position-y: 8px;
  }
}
