// colors

:root {
  --border-timeline: #edeff4;
  --border-timeline-reviewed: #f29524;
  --border-timeline-revised: #42aea4;
  --border-timeline-version-of-record: #2994d2;
  --color-primary: #087acc; // "Brand blue"
  --color-primary-dark: #0769b0;
  --color-text: #212121;
  --color-text-secondary: #757575;
  --color-text-secondary-dark: #666;
  --color-button: #edeff4;
  --color-background: #f8f9fb;
  --color-white: #fff;
  --color-attention: #cf0c4e;
  --divider: #e0e0e0;
  --link-decoration: #212121;
  --link-decoration-secondary: #6d6d6d;
  --link-reviewed: #d04310;
  --link-revised: #207b74;
  --link-version-of-record: #087acc;

  // Borders
  --border: 1px solid var(--divider);

  // Fonts
  --font-family-primary: arial, helvetica, sans-serif;
  --font-family-secondary: serif;

  // Layout
  --grid-gutter: 24px;

  // Site Spacing
  --site-spacing: 24px;
  --site-spacing-large: 48px;

  // Base font size
  --base-font-size: 16;
}

// Typography
$font-size-base-in-px: 16;

// Layout
$max-site-width: 1200px;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-extra-large: 1200px;

@mixin container-padding($padding: true) {
  @if $padding {
    padding-left: var(--site-spacing);
    padding-right: var(--site-spacing);

    @media only screen and (min-width: $breakpoint-small) {
      padding-left: calc(var(--site-spacing) * 2);
      padding-right: calc(var(--site-spacing) * 2);
    }
  }
}
