// colors

$color-primary: #087acc; // "Brand blue"

$color-text: #212121;
$color-text-inactive: #767676;

$color-less-light-grey: #edeff4;
$divider: #e0e0e0;

$link-decoration: #212121;

$color-badge-active: #252a36;

// Borders
$border: 1px solid $divider;

// Fonts
$font-family-primary: noto sans,arial,helvetica,sans-serif;
$font-family-secondary: noto serif,serif;

// Layout
$max-site-width: 1296px;
$grid-column: 78px;
$grid-gutter: 24px;

// Site Spacing
$site-spacing: 24px;

// Breakpoints
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1000px;
$breakpoint-extra-large: 1296px;

@mixin padding($padding: true) {
  @if $padding {
    padding-left: $site-spacing;
    padding-right: $site-spacing;

    @media only screen and (min-width: $breakpoint-small) {
      padding-left: $site-spacing * 2;
      padding-right: $site-spacing * 2;
    }
  }
}
