@use "settings";

@function get-rem-from-px($size_in_px) {
  @return $size_in_px / settings.$font-size-base-in-px;
}

@mixin font-size($size_in_px) {
  font-size: #{$size_in_px}px;
  font-size: get-rem-from-px($size_in_px) * 1rem;
}

@mixin font-size-and-vertical-height($font-size-in-px, $vertical-height-in-px: 24) {
  @include font-size($font-size-in-px);

  line-height: #{($vertical-height-in-px / $font-size-in-px)};
}

@mixin badge-text() {
  @include font-size-and-vertical-height(12, 18);

  color: settings.$color-text;
  font-family: settings.$font-family-primary;
}

@mixin author-list-text() {
  @include font-size-and-vertical-height(16, 24);

  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-weight: 600;
}

@mixin expansion-text() {
  color: settings.$color-primary;
  font-family: settings.$font-family-primary;

  &::before {
    color: settings.$color-text;
    content: ", ";
  }
}

@mixin affiliations-list-text() {
  @include font-size-and-vertical-height(14, 24);

  color: settings.$color-text;
  font-family: settings.$font-family-primary;
}

@mixin h1() {
  @include font-size-and-vertical-height(36, 48);

  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-weight: 600;
}

@mixin identifiers-list-text() {
  @include font-size-and-vertical-height(14, 24);

  color: settings.$color-text-inactive;
  font-family: settings.$font-family-primary;
}

@mixin heading-base() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-weight: 600;
}

@mixin heading-1() {
  @include font-size(36);
  @include heading-base();

  line-height: 48px;
}

@mixin heading-2() {
  @include font-size-and-vertical-height(26, 36);
  @include heading-base();
}

@mixin heading-3() {
  @include font-size-and-vertical-height(20, 28);
  @include heading-base();
}

@mixin heading-4() {
  @include font-size-and-vertical-height(14, 24);
  @include heading-base();
}

@mixin body() {
  @include font-size-and-vertical-height(16, 24);

  color: settings.$color-text;
  font-family: settings.$font-family-secondary;
}

@mixin body-small() {
  @include font-size-and-vertical-height(14, 24);

  color: settings.$color-text;
  font-family: settings.$font-family-primary;
}

@mixin body-alternative() {
  @include font-size-and-vertical-height(16, 24);

  color: settings.$color-text;
  font-family: settings.$font-family-primary;
}

@mixin navigation-heading() {
  @include font-size-and-vertical-height(14, 26);

  color: settings.$color-text-inactive;
  font-family: settings.$font-family-primary;
  font-weight: 400;
}

@mixin navigation-heading-selected() {
  @include navigation-heading();

  color: settings.$color-text;
  font-weight: 600;
}

@mixin msa-link-text() {
  @include font-size-and-vertical-height(14, 24);

  color: settings.$color-primary;
  font-family: settings.$font-family-primary;
  font-weight: 600;
}

@mixin link-text() {
  @include font-size-and-vertical-height(12, 24);

  color: settings.$color-primary;
  font-family: settings.$font-family-primary;
  font-weight: 600;
  text-decoration: none;

  :visited {
    color: settings.$color-primary;
  }
}

@mixin blockquote() {
  font-style: italic;
}
