@use "sass:math";
@use "settings";

@mixin font-size($size_in_px) {
  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    font-size: calc(($size_in_px / var(--base-font-size)) * 1rem);
  }
}

@mixin font-size-and-vertical-height($font-size-in-px, $vertical-height-in-px: 24) {
  @include font-size($font-size-in-px);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    line-height: math.div($vertical-height-in-px, $font-size-in-px);
  }
}

@mixin badge-text() {
  @include font-size-and-vertical-height(12, 18);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
  }
}

@mixin author-list-text() {
  @include font-size-and-vertical-height(16, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
  }
}

@mixin term-list-text() {
  @include font-size-and-vertical-height(12, 16);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
  }
}

@mixin expansion-text() {
  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-primary);
    cursor: pointer;
    font-family: var(--font-family-primary);
    font-weight: 400;
  }

  &::before {
    color: var(--color-text);
    content: " ... ";
  }
}

@mixin affiliations-list-text() {
  @include font-size-and-vertical-height(14, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
  }
}

@mixin h1() {
  @include font-size-and-vertical-height(22, 28);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-weight: 600;
  }

  @media only all and (min-width: settings.$breakpoint-small) {
    @include font-size-and-vertical-height(26, 36);
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    @include font-size-and-vertical-height(36, 48);
  }
}

@mixin identifiers-list-text() {
  @include font-size-and-vertical-height(14, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text-secondary);
    font-family: var(--font-family-primary);
  }
}

@mixin heading-base() {
  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-weight: 600;
  }
}

@mixin heading-1() {
  @include font-size(36);
  @include heading-base();

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    line-height: 48px;
  }
}

@mixin heading-2() {
  @include font-size-and-vertical-height(26, 36);
  @include heading-base();
}

@mixin heading-3() {
  @include font-size-and-vertical-height(20, 28);
  @include heading-base();
}

@mixin heading-4() {
  @include font-size-and-vertical-height(14, 24);
  @include heading-base();
}

@mixin heading-5() {
  @include heading-4();
}

@mixin body() {
  @include font-size-and-vertical-height(16, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-secondary);
  }
}

@mixin body-small() {
  @include font-size-and-vertical-height(14, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
  }
}

@mixin body-small-alternative() {
  @include font-size-and-vertical-height(14, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-secondary);
  }
}

@mixin body-alternative() {
  @include font-size-and-vertical-height(16, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
  }
}

@mixin assessment-body() {
  @include font-size-and-vertical-height(16, 28);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
  }
}

@mixin navigation-heading() {
  @include font-size-and-vertical-height(14, 26);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text-secondary);
    font-family: var(--font-family-primary);
    font-weight: 400;
  }
}

@mixin term-title() {
  @include font-size-and-vertical-height(12, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text-secondary-dark);
    font-family: var(--font-family-primary);
    font-weight: 400;
  }
}

@mixin navigation-heading-selected() {
  @include navigation-heading();

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-weight: 600;
  }
}

@mixin msa-link-text() {
  @include font-size-and-vertical-height(14, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-weight: 600;
  }
}

@mixin related-content-type-text() {
  @include font-size-and-vertical-height(14, 26);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text-secondary);
    font-family: var(--font-family-primary);
    font-weight: 400;
  }
}

@mixin related-content-link-text() {
  @include font-size-and-vertical-height(16, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-weight: 600;
    text-decoration: none;
  }

  &:hover {
    color: var(--color-primary);
  }
}

@mixin link-text() {
  @include font-size-and-vertical-height(12, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-weight: 600;
    text-decoration: none;
  }

  :visited {
    color: var(--color-primary);
  }
}

@mixin terms-link-text() {
  @include font-size-and-vertical-height(16, 24);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-weight: 600;
    text-decoration: none;
  }

  :visited {
    color: var(--color-primary);
  }
}

@mixin assessment-fixed-text() {
  @include font-size-and-vertical-height(14, 20);

  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    color: var(--color-text);
    font-family: var(--font-family-primary);
  }
}

@mixin blockquote() {
  /* stylelint-disable-next-line block-no-redundant-nested-style-rules */
  & {
    font-style: italic;
  }
}
