@use "sass:math";
@use "settings";

@mixin font-size($size_in_px) {
  font-size: calc(($size_in_px / var(--base-font-size)) * 1rem);
}

@mixin font-size-and-vertical-height($font-size-in-px, $vertical-height-in-px: 24) {
  line-height: math.div($vertical-height-in-px, $font-size-in-px);

  @include font-size($font-size-in-px);
}

@mixin badge-text() {
  color: var(--color-text);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(12, 18);
}

@mixin author-list-text() {
  color: var(--color-text);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(16, 24);
}

@mixin term-list-text() {
  color: var(--color-text);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(12, 16);
}

@mixin expansion-text() {
  color: var(--color-primary);
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-weight: 400;

  &::before {
    color: var(--color-text);
    content: " ... ";
  }
}

@mixin affiliations-list-text() {
  color: var(--color-text);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(14, 24);
}

@mixin h1() {
  color: var(--color-text);
  font-family: var(--font-family-primary);
  font-weight: 600;

  @include font-size-and-vertical-height(22, 28);

  @media only all and (min-width: settings.$breakpoint-small) {
    @include font-size-and-vertical-height(26, 36);
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    @include font-size-and-vertical-height(36, 48);
  }
}

@mixin identifiers-list-text() {
  color: var(--color-text-secondary);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(14, 24);
}

@mixin heading-base() {
  color: var(--color-text);
  font-family: var(--font-family-primary);
  font-weight: 600;
}

@mixin heading-1() {
  line-height: 48px;

  @include font-size(36);
  @include heading-base();
}

@mixin heading-2() {
  @include font-size-and-vertical-height(26, 36);
  @include heading-base();
}

@mixin heading-3() {
  @include font-size-and-vertical-height(20, 28);
  @include heading-base();
}

@mixin heading-4() {
  @include font-size-and-vertical-height(14, 24);
  @include heading-base();
}

@mixin heading-5() {
  @include heading-4();
}

@mixin body() {
  color: var(--color-text);
  font-family: var(--font-family-secondary);

  @include font-size-and-vertical-height(16, 24);
}

@mixin body-small() {
  color: var(--color-text);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(14, 24);
}

@mixin body-small-alternative() {
  color: var(--color-text);
  font-family: var(--font-family-secondary);

  @include font-size-and-vertical-height(14, 24);
}

@mixin body-alternative() {
  color: var(--color-text);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(16, 24);
}

@mixin assessment-body() {
  color: var(--color-text);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(16, 28);
}

@mixin navigation-heading() {
  color: var(--color-text-secondary);
  font-family: var(--font-family-primary);
  font-weight: 400;

  @include font-size-and-vertical-height(14, 26);
}

@mixin term-title() {
  color: var(--color-text-secondary-dark);
  font-family: var(--font-family-primary);
  font-weight: 400;

  @include font-size-and-vertical-height(12, 24);
}

@mixin navigation-heading-selected() {
  @include navigation-heading();

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    color: var(--color-text);
    font-weight: 600;
  }
}

@mixin msa-link-text() {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: 600;

  @include font-size-and-vertical-height(14, 24);
}

@mixin related-content-type-text() {
  color: var(--color-text-secondary);
  font-family: var(--font-family-primary);
  font-weight: 400;

  @include font-size-and-vertical-height(14, 26);
}

@mixin related-content-link-text() {
  color: var(--color-text);
  font-family: var(--font-family-primary);
  font-weight: 600;
  text-decoration: none;

  @include font-size-and-vertical-height(16, 24);

  &:hover {
    color: var(--color-primary);
  }
}

@mixin link-text() {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: 600;
  text-decoration: none;

  @include font-size-and-vertical-height(12, 24);

  :visited {
    color: var(--color-primary);
  }
}

@mixin terms-link-text() {
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: 600;
  text-decoration: none;

  @include font-size-and-vertical-height(16, 24);

  :visited {
    color: var(--color-primary);
  }
}

@mixin assessment-fixed-text() {
  color: var(--color-text);
  font-family: var(--font-family-primary);

  @include font-size-and-vertical-height(14, 20);
}

@mixin blockquote() {
  font-style: italic;
}
