@use 'settings';

@mixin badge-text() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 12px;
  line-height: 18px;
}

@mixin author-list-text() {
  color: settings.$color-text;
  font-family: settings.$font-family-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
