# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# git/github
.git
.github/**

# node/yarn
node_modules/**
.yarn/**
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# docker
docker-compose*.yaml
Dockerfile

# Next
.next/**
playwright-report/**
test-results/**

# Storybook
.storybook/**

# Dev tooling
Makefile
.nvmrc
.swc/**
.vscode/**
coverage/**
build/**
