.error_container {
  margin: 0 auto;
  max-width: 450px;
  text-align: center;

  .error-title {
    font-size: 26px;
    font-family: var(--font-family-primary);
  }

  .error-message {
    font-family: var(--font-family-secondary);
  }
}