@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.contextual-data {
  line-break: anywhere;
  list-style: none;

  @include mixins.margin(24, "bottom");
  @include mixins.margin(0, "top");
  @include mixins.padding(0, "left");
}

.contextual-data__item {
  display: inline;
  white-space: nowrap;

  @include typography.body-small();

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    color: var(--color-text-secondary);
  }

  &::after {
    content: " • ";
  }

  &:last-child::after {
    content: "";
  }
}

.contextual-data__item--highlight {
  color: var(--color-text);
  font-weight: bold;
}

.contextual-data__item--link {
  color: var(--color-text-secondary);
  text-decoration: none;

  &:hover {
    color: var(--color-primary);

    .contextual-data__item--highlight {
      color: var(--color-primary);
    }
  }
}
