@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.improved-review-timeline {
  @include mixins.margin(36, "bottom");
  @include mixins.margin(36, "top");

  @media only all and (min-width: settings.$breakpoint-medium) {
    @include mixins.margin(12, "top");
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(48, "bottom");
    @include mixins.margin(6, "left");
  }

  &__event,
  &__detail {
    @include mixins.padding(26, "left");

    color: var(--color-text);
    font-family: var(--font-family-primary);
    font-weight: 600;
    position: relative;

    &::before {
      background-color: var(--border-timeline);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 8px;
    }

    &.improved-review-timeline__revised::before {
      background-color: var(--border-timeline-revised);
    }
  }

  &__event {
    @include typography.font-size-and-vertical-height(16, 24);
  }

  &__event::before {
    border-radius: 6px 6px 0 0;
  }

  &__detail {
    @include mixins.margin(0);

    &::before {
      border-radius: 0 0 6px 6px;
    }
  }

  &__version,
  &__date {
    @include typography.body-small();
    
    font-weight: 600;
  }

  &__version::after {
    @include mixins.margin(5, "left");
    @include mixins.margin(5, "right");

    content: " • ";
  }

  &__date {
    color: var(--color-text-secondary);
    font-weight: 400;
  }

  &__link {
    @include mixins.padding(3, "bottom");
    @include mixins.padding(3, "top");
    @include typography.font-size-and-vertical-height(14, 20);

    clear: left;
    color: var(--link-timeline);
    display: block;
    font-family: var(--font-family-primary);
    font-weight: 600;
    text-decoration: none;
    width: max-content;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    .improved-review-timeline__revised & {
      color: var(--link-timeline-revised);
    }
  }
}
