@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.institutions {
  display: none;

  @media only all and (min-width: settings.$breakpoint-medium) {
    display: block;

    @include mixins.margin(24, "bottom");
  }
}

.institutions-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media only all and (min-width: settings.$breakpoint-medium) {
    display: inline;
  }
}

.institutions-list__item {
  display: inline;

  @include typography.affiliations-list-text();

  &::after {
    content: " • ";
  }

  &:last-child::after {
    content: "";
  }
}

.institution__address {
  display: inline;
  font-style: normal;

  &::before {
    content: ", ";
  }
}

.institutions-list__expansion {
  @include typography.expansion-text();
  @include typography.font-size-and-vertical-height(14, 24);
}
