@use "../../../sass/mixins";
@use "../../../sass/typography";

.institutions-list {
  @include mixins.margin(0);
  @include mixins.padding(0);

  display: inline;
  list-style: none;
}

.institutions-list__item {
  @include typography.affiliations-list-text();

  display: inline;

  &::after {
    content: " • ";
  }

  &:last-child::after {
    content: "";
  }
}

.institution__address {
  display: inline;
  font-style: normal;

  &::before {
    content: ", ";
  }
}

.institutions-list__expansion {
  @include typography.expansion-text();
  @include typography.font-size-and-vertical-height(14, 24);

  cursor: pointer;
}
