@use "../../../sass/layout";
@use "../../../sass/settings";
@use "../../../sass/mixins";
@use "../../../sass/typography";

.article-body-container {
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    margin-left: 36px;
  }
}

.menu-spacer {
  display: none;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    @include mixins.margin(24, "right");

    display: block;
    flex: 0 0 auto;
    max-width: 180px;
    width: 100%;
  }
}

.tabbed-navigation {
  @include mixins.margin(0 -24 24);
  @include mixins.z-index(1);

  background-color: #fff;
  border-bottom: var(--border);
  border-top: var(--border);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;

  @media only screen and (min-width: settings.$breakpoint-small) {
    @include mixins.margin(0 -48 36);
  }

  @media only screen and (min-width: settings.$breakpoint-medium) {
    @include mixins.margin(0 0 36);
  }
}

.tabbed-navigation__tabs {
  @include mixins.margin(0 -24);
  @include mixins.padding(0, "left");

  align-self: flex-start;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: auto;

  @media only screen and (min-width: settings.$breakpoint-small) {
    @include mixins.margin(0 -48);

    justify-content: center;
    width: 100%;
  }

  @media only screen and (min-width: settings.$breakpoint-medium) {
    @include mixins.margin(0);
  }

  @media only screen and (min-width: settings.$breakpoint-large) {
    border-top: none;
  }

  @media only screen and (min-width: settings.$breakpoint-extra-large) {
    @include mixins.padding(215, "left");

    justify-content: normal;
  }
}

.tabbed-navigation__tab-label {
  @include typography.body();

  color: var(--color-text-secondary);
  cursor: pointer;
  display: inline;
  font-family: var(--font-family-primary);

  a {
    @include mixins.margin(0 6);
    @include mixins.padding(18 6);

    color: var(--color-text-secondary);
    display: block;
    text-decoration: none;

    @media only screen and (min-width: settings.$breakpoint-small) {
      @include mixins.padding(24 18 20);

      margin: 0;
    }
  }

  &.tabbed-navigation__tab-label--active {
    @include mixins.padding(0, "bottom");

    color: var(--color-text);
    font-weight: 600;

    a {
      border-bottom: 4px solid var(--color-primary);
      color: var(--color-text);
    }
  }

  @media only screen and (min-width: settings.$breakpoint-small) {
    &:nth-child(2) {
      ::after {
        content: " and data";
      }
    }
  }
}

.tabbed-navigation__content {
  @media only all and (min-width: settings.$breakpoint-large) {
    display: flex;
  }
}
