@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.article-status {
  @include mixins.padding(24, "top");
  @include mixins.padding(24, "bottom");

  border-bottom: settings.$border;

  @media only all and (min-width: settings.$breakpoint-medium) {
    @include mixins.padding(72, "right");

    border-bottom: none;
    width: 100%;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.padding(0, "top");
    @include mixins.padding(0, "right");

    border-bottom: settings.$border;
    max-width: 232px;
    min-width: 100px;
  }
}

.article-status__heading {
  @include mixins.margin(0, "top");
  @include typography.font-size-and-vertical-height(18, 22);

  color: settings.$color-primary;
  font-family: settings.$font-family-primary;
  font-weight: 600;
}

.article-status__text {
  @include typography.body-small;
  @include typography.font-size-and-vertical-height(12, 22);
}

.article-status__link {
  @include mixins.margin(36, "bottom");
  @include typography.body-small;
  @include typography.font-size-and-vertical-height(14, 24);

  color: settings.$color-primary;
  display: block;
  font-weight: 600;
  text-decoration: none;

  a {
    color: settings.$color-primary;
  }
}

.article-actions {
  @include mixins.margin(0);
  @include mixins.padding(0, "left");
  @include mixins.padding(0, "top");

  list-style: none;
}

.article-actions__list-item {
  @include mixins.margin(12, "bottom");
  @include mixins.margin(6, "right");

  display: inline-block;
}
