@use "../../../sass/settings";
@use "../../../sass/typography";

.article-status {
  border-bottom: settings.$border;
  padding-bottom: 24px;
}

.article-status__heading {
  @include typography.font-size-and-vertical-height(18, 22);

  color: settings.$color-primary;
  font-family: settings.$font-family-primary;
  font-weight: 600;
  margin-top: 0;
}

.article-status__text {
  @include typography.body-small;
  @include typography.font-size-and-vertical-height(12, 22);

  font-weight: 600;
}

.article-actions {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 24px;
}

.article-actions__list-item {
  display: inline-block;
  margin-bottom: 12px;
  margin-right: 6px;
}
