@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.article-status {
  @include mixins.padding(24, "top");
  @include mixins.padding(24, "bottom");

  border-bottom: settings.$border;

  @media only all and (min-width: settings.$breakpoint-medium) {
    border-bottom: none;
    grid-column: 1/7;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.padding(0, "top");

    border-bottom: settings.$border;
  }
}

.article-status__heading {
  @include mixins.margin(0, "top");
  @include typography.font-size-and-vertical-height(18, 22);

  color: settings.$color-primary;
  font-family: settings.$font-family-primary;
  font-weight: 600;
}

.article-status__text {
  @include typography.body-small;
  @include typography.font-size-and-vertical-height(12, 22);

  font-weight: 600;
}

.article-actions {
  @include mixins.margin(0);
  @include mixins.padding(0, "left");
  @include mixins.padding(24, "top");

  list-style: none;
}

.article-actions__list-item {
  @include mixins.margin(12, "bottom");
  @include mixins.margin(6, "right");

  display: inline-block;
}
