@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.article-status {
  @include mixins.margin(24, "bottom");
  @include mixins.margin(24, "top");
  @include mixins.padding(24, "bottom");

  border-bottom: var(--border);

  @media only all and (min-width: settings.$breakpoint-medium) {
    @include mixins.padding(72, "right");

    border-bottom: none;
    width: min-content;
    flex-grow: 1;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(24, "bottom");
    @include mixins.margin(0, "top");
    @include mixins.padding(0, "right");

    border-bottom: var(--border);
    min-width: 100px;
  }
}

.article-status__heading {
  @include mixins.margin(0, "top");
  @include typography.font-size-and-vertical-height(18, 22);

  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: 600;
}

.article-status__text {
  @include typography.body-small;
}

.article-status__link {
  @include mixins.margin(36, "bottom");
  @include typography.body-small;

  color: var(--color-primary);
  cursor: pointer;
  display: block;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.article-actions {
  @include mixins.padding(0, "left");
  @include mixins.padding(0, "top");

  list-style: none;
  margin: 0;
}

.article-actions__list-item {
  @include mixins.margin(12, "bottom");
  @include mixins.margin(12, "right");

  display: inline-block;

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(0, "right");

    &:nth-of-type(odd) {
      @include mixins.margin(12, "right");
    }
  }
}

.text-field,
.text-field[type="text"],
.text-field[type="email"] {
  appearance: none;
}

.text-field {
  @include typography.font-size-and-vertical-height(16);
  @include mixins.padding(11 12);
  @include mixins.margin(36, "bottom");

  border: 1px solid var(--divider);
  box-sizing: border-box;
  color: var(--color-text);
  font-family: var(--font-family-primary);
  grid-column: 1/13;
  grid-row: 1;
  width: 100%;

  &:focus {
    border: 1px solid black;
    outline: 0;
  }
}

.text-field--textarea {
  resize: vertical;
}

.text-field--clipboard {
  @media only all and (min-width: settings.$breakpoint-medium) {
    grid-column: 1/10;
    grid-row: 1;
  }
}

.cite-downloads__list {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  grid-column: 1/13;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cite-downloads__list-item {
  @include mixins.margin(24, "right");

  display: flex;
  height: 48px;
  width: fit-content;

  &:empty {
    display: none;
  }

  &:last-child {
    @include mixins.margin(0, "right");
  }

  @media only all and (width <= 618px) {
    @include mixins.margin(0 0 12 0);

    text-align: center;
    width: 100%;

    &:last-child {
      @include mixins.margin(0, "bottom");
    }
  }
}
