@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";

.modal-container {
  background-color: rgb(255 255 255 / 90%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.modal-content {
  background-color: #fff;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 20px rgb(0 0 0 / 22%);
  display: grid;
  font-family: var(--font-family-primary);
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  z-index: 200;

  @include mixins.padding(36);

  @media only all and (min-width: settings.$breakpoint-small) {
    @include mixins.margin(24);
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;

    @include mixins.margin(180, "top");
    @include mixins.margin(24, "bottom");
  }

  h6 {
    grid-column: 1/6;
    grid-row: 1;
    justify-self: start;
    margin: 0;

    @include mixins.padding(0 0 12);
    @include typography.font-size-and-vertical-height(16, 24);
  }
}

.modal-content__body {
  display: grid;
  grid-column: 1/6;
}

.modal-content__block {
  grid-column: 1/6;
}

.modal-content__top {
  display: grid;

  @include mixins.padding(24, "bottom");
}

.modal-content__title {
  grid-column: 2/4;
  grid-row: 1;
  padding: 0;
}

.modal-content__warning {
  display: grid;
  grid-column: 1/6;

  @include mixins.margin(12, "top");
  @include typography.body-small();

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    color: var(--color-primary);
  }
}

.modal-content__show {
  opacity: 1;
  overflow-y: scroll;
  visibility: visible;

  @include mixins.z-index(1);
}

.modal-content__close-button {
  background: url("../../../images/actions/close.svg") right 5px no-repeat;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-weight: bold;
  grid-row: 1;
  height: auto;
  place-self: start end;

  @include mixins.padding(0 25 0 0);
  @include mixins.z-index(2);
  @include typography.font-size-and-vertical-height(16, 24);
}

.downloads-container {
  min-width: auto;
  white-space: nowrap;
}

.reference-list {
  .modal-content__body & {
    margin-bottom: 36px;
  }
}

.reference__doi {
  .modal-content__body & {
    margin-bottom: 0;
    margin-top: 12px;
  }
}

.clipboard-container {
  @media only all and (min-width: settings.$breakpoint-medium) {
    .modal-content__share & {
      grid-column: 10/13;
      grid-row: 1;
      justify-self: right;
      width: auto;
    }

    .modal-content__cite & {
      grid-column: 1/13;
      grid-row: 2;

      @include mixins.margin(36, "bottom");
    }
  }
}

.socials-container {
  @media only all and (min-width: settings.$breakpoint-medium) {
    .modal-content__share & {
      grid-row: 2;
    }
  }
}

.form-item {
  .modal-content__share & {
    display: grid;
    grid-column: 1/13;
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    .modal-content__share & {
      grid-column: 1/10;
    }
  }
}
