@use "../../../sass/mixins";
@use "../../../sass/typography";

.article-flag-list {
  @include mixins.margin(0, "top");
  @include mixins.margin(6, "bottom");

  list-style: none;
  padding: 0;
}

.article-flag-list__item {
  @include mixins.margin(6, "bottom");
  @include mixins.padding(6, "right");

  display: inline-block;

  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}
