@use "../../../sass/mixins";
@use "../../../sass/typography";

.article-flag-list {
  list-style: none;
  padding: 0;

  @include mixins.margin(0, "top");
  @include mixins.margin(6, "bottom");
}

.article-flag-list__item {
  display: inline-block;

  @include mixins.margin(6, "bottom");
  @include mixins.padding(6, "right");

  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}
