@use "../../../sass/layout";
@use "../../../sass/mixins";
@use "../../../sass/typography";

.descriptors {
  @include mixins.margin(24, "bottom");

  display: flex;
}

.descriptors__identifiers {
  @include typography.identifiers-list-text();

  list-style: none;
  margin: 0;
  padding: 0;
}

.descriptors__identifier {
  display: none;

  &:first-child {
    display: list-item;
  }

  a {
    @include typography.identifiers-list-text();

    text-decoration: none;

    .review-content--assessment & {
      color: var(--link-decoration-secondary);
    }
  }
}

.descriptors__icons {
  margin: 0;
  padding: 0;

  li {
    @include typography.identifiers-list-text();
    @include mixins.margin(0 4);

    display: inline-block;

    &:last-child {
      @include mixins.margin(0, "right");
    }
  }
}

.descriptors__icon--oa {
  background-image: url("../../../images/oa.svg"), linear-gradient(transparent, transparent);
  height: 26px;
  width: 16px;
}

.descriptors__icon {
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}

.descriptors__icon--cc {
  background-image: url("../../../images/cc.svg"), linear-gradient(transparent, transparent);
  height: 24px;
  width: 18px;
}

.identifier__name {
  display: none;
}
