@use "../../../../sass/utilities";

.related-study {
  font-family: var(--font-dm-sans, sans-serif);
  padding-block: 32px 40px;
}

.related-study .label {
  font-size: 16px;
  line-height: 26px;
  color: rgb(103 109 115);
  font-family: var(--font-dm-sans, sans-serif);
  font-weight: 400;
  margin-block-end: 24px;
}

.related-study a.study-card {
  text-decoration: none;
  background-color: rgb(247 248 250);
  color: rgb(47 47 47);
}

.related-study a.study-card:hover,
.related-study a.study-card:active,
.related-study a.study-card:focus {
  background-color: rgb(230 233 240);
}

.related-study .study-card {
  display: block;
  user-select: none;
  border-radius: 8px;
  padding: 24px 32px 32px;
}

.related-study .study-card * {
  user-select: text;
}

.related-study .study-card header {
  font-weight: 600;
  margin-block-end: 16px;
}

.related-study .study-card .summary {
  background-color: rgb(230 233 240);
  border-radius: 8px;
  padding: 20px 24px;
}

.related-study .study-card .summary p {
  margin-block: 0;
  color: rgb(47 47 47);
  line-height: 26px;
}

.related-study .study-card .summary p + p {
  margin-block-start: 12px;
}

.related-study .study-card .summary p.highlight {
  font-weight: 600;
}
