ul {
  padding-inline-start: 0;
  margin-block-start: 0;
}

li {
  list-style: none;
}

.claims {
  padding-block: 32px;
  margin-inline-start: 40px;
  border-inline-start: 2px solid rgb(207 212 226);
}

.claim-row {
  display: flex;
  align-items: center;
  margin-block-end: 32px;
}

.claim-row:last-child {
  margin-block-end: 0;
}

.claim-row .card {
  flex-basis: 100%;
}

.claim-row::before {
  content: "";
  width: 40px;
  height: 2px;
  background-color: rgb(207 212 226);
  flex-shrink: 0;
}
