.card {
  font-family: var(--font-dm-sans, sans-serif);
  line-height: 26px;
  border-radius: 8px;
  padding: 32px 40px 40px;
  background-color: rgb(247 248 250);
  color: rgb(47 47 47);
}

.question-text {
  font-weight: 600;
  margin-block-start: 0;
  margin-block-end: 32px;
}

.card p {
  color: rgb(47 47 47);
}

.card .dot {
  color: rgb(103 109 115);
}

.card header .supplementary {
  font-weight: normal;
  color: rgb(103 109 115);
}

.question-framing {
  background-color: rgb(255 255 255);
  border-radius: 8px;
  padding: 24px;
}

.card .provenance {
  font-size: 14px;
  line-height: 24px;
  color: rgb(103 109 115);
  margin-block-end: 0;
}

.card .attribution {
  color: rgb(103 109 115);
  margin-block-start: 32px;
}

blockquote {
  background-color: rgb(230 233 240);
  padding: 16px 24px;
  border-inline-start: 4px solid rgb(206 211 224);
  margin: 0;
}
