.card {
  font-family: var(--font-dm-sans, sans-serif);
  line-height: 26px;
  border-radius: 8px;
  padding: 24px 32px 28px;
  background-color: rgb(247 248 250);
  color: rgb(47 47 47);
}

.question-text {
  font-weight: 600;
}

.card p {
  color: rgb(47 47 47);
}

.card .dot {
  color: rgb(103 109 115);
}

.card header .supplementary {
  font-weight: normal;
  color: rgb(103 109 115);
}

.question-framing {
  background-color: rgb(255 255 255);
}

.card .provenance {
  font-size: 14px;
  line-height: 24px;
  color: rgb(103 109 115);
}

.card .attribution {
  color: rgb(103 109 115);
}

blockquote {
  background-color: rgb(230 233 240);
}
