body {
  margin: 0;
  position: relative;
  background: rgb(47 47 47 / 50%);
}

.page-wrapper {
  position: fixed;
  inset: 24px;
  overflow: scroll;
  background: rgb(255 255 255);
  border-radius: 12px;
}
