@use "../../../sass/mixins";
@use "../../../sass/typography";
@use "../../../sass/settings";

.review-process__header {
  @include typography.heading-2();

  margin: 0;
}

.review-process__container {
  position: relative;
}

.review-process__body,
.review-process__link {
  @include mixins.padding(26, "left");

  &::before {
    background-color: var(--border-timeline-reviewed);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 8px;

    .review-process__body & {
      border-radius: 6px 6px 0 0; // doesn't appear to be working
    }

    .review-process__link & {
      border-radius: 0 0 6px 6px; // doesn't appear to be working
    }

    .review-process--revised & {
      background-color: var(--border-timeline-revised);
    }
  }
}

.review-process__body {
  @include typography.body-alternative();
}

.review-process__link {
  @include typography.font-size-and-vertical-height(14, 20);

  color: var(--link-reviewed);
  font-family: var(--font-family-primary);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .review-process--revised & {
    color: var(--link-revised);
  }
}
