@use "../../../sass/mixins";
@use "../../../sass/typography";
@use "../../../sass/settings";

.review-process {
  @include mixins.margin(36, "bottom");
  @include mixins.padding(18, "top");
}

.review-process__header {
  @include mixins.margin(0 0 18 0);
  @include typography.heading-2();
}

.review-process__container {
  position: relative;

  @include mixins.padding(3, "bottom");
}

.review-process__body,
.review-process__link {
  @include mixins.padding(27, "left");
}

.review-process__body {
  @include mixins.margin(12, "bottom");
  @include mixins.margin(0, "top");
  @include typography.body-alternative();

  &::before {
    background-color: var(--border-timeline-reviewed);
    border-radius: 10px;
    content: "";
    height: 100%;
    left: 3px;
    position: absolute;
    top: 0;
    width: 6px;

    .review-process--revised & {
      background-color: var(--border-timeline-revised);
    }

    .review-process--version-of-record & {
      background-color: var(--border-timeline-version-of-record);
    }
  }
}

.review-process__link {
  color: var(--link-reviewed);
  display: block;
  font-family: var(--font-family-primary);
  font-weight: 600;
  text-decoration: none;

  @include typography.font-size-and-vertical-height(14, 20);

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }

  .review-process--revised & {
    color: var(--link-revised);
  }

  .review-process--version-of-record & {
    color: var(--link-version-of-record);
  }
}
