@use "../../sass/layout";
@use "../../sass/mixins";
@use "../../sass/settings";

.site-biophysics-colab {
  --color-primary: #5556a8;
  --color-primary-dark: #50519b;
  --border-timeline-reviewed: #c93c3d;
  --border-timeline-revised: #9c5075;
  --border-timeline-curated: #9c5075;
  --link-reviewed: #c93c3d;
  --link-revised: #9c5075;
  --link-curated: #9c5075;

  .site-header-container {
    justify-content: unset;
  }

  .nav-primary {
    @include mixins.margin(16, "top");
    @include mixins.margin(20, "left");

    border-left: var(--border);
    display: inline-block;
    height: 24px;
  }

  .nav-primary__item {
    display: list-item;
  }

  .review-timeline__event--title.review-timeline__event--revised::before,
  .review-timeline__event--detail.review-timeline__event--revised::before {
    background-color: var(--border-timeline-reviewed);
  }

  .review-timeline__event--revised .review-timeline__link {
    color: var(--link-reviewed);
  }

  .review-process--revised .review-process__body::before {
    background-color: var(--border-timeline-reviewed);
  }

  .review-process--revised .review-process__link {
    color: var(--link-reviewed);
  }

  .review-timeline dt:first-of-type.review-timeline__event--active,
  .review-timeline dd:first-of-type.review-timeline__event--active {
    &::before {
      background-color: var(--border-timeline-revised);
    }

    .review-timeline__link {
      color: var(--link-revised);
    }
  }

  .version--last {
    .review-process__body::before {
      background-color: var(--border-timeline-revised);
    }

    .review-process__link {
      color: var(--link-revised);
    }
  }

  .footer-wrapper {
    border-top: var(--border);
    display: flex;
  }

  .socials {
    img {
      height: 2rem;
      width: auto;
    }
  }
}
