@use "../../sass/layout";
@use "../../sass/mixins";
@use "../../sass/settings";

.site-biophysics-colab {
  --color-primary: #5556A8;
  .nav-primary {
    @media only all and (min-width: settings.$breakpoint-large) {
      margin-top: 16px;
    }
  }

  .nav-secondary {
    @media only all and (min-width: settings.$breakpoint-large) {
      margin-top: 16px;
    }
  }
}
