@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";

.clipboard-container {
  width: 100%;
}

.form-item {
  @include mixins.padding(36, "bottom");

  display: grid;

  & > :last-child {
    margin-bottom: 0 // Margins don't collapse on <select>s
  }
}

.text-field,
.text-field[type="text"],
.text-field[type="email"] {
  appearance: none;
}

.text-field {
  @include typography.font-size-and-vertical-height(16);
  @include mixins.padding(11 12);
  @include mixins.margin(6, "bottom");

  border: 1px solid settings.$divider;
  color: settings.$color-text;
  display: inline-block;
  font-family: settings.$font-family-primary;

  &:focus {
    border: 1px solid black;
    outline: 0;
  }
}

.text-field--textarea {
  resize: vertical;
}

.button {
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: settings.$font-family-primary;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @include typography.font-size-and-vertical-height(14, 14);
  @include mixins.padding(17 40 16);
}

.button--default {
  @include mixins.margin(48, "left");
  @include mixins.padding(15 18);

  background-color: settings.$color-primary;
  color: #fff;
  max-height: 48px;

  &:hover {
    background-color: settings.$color-primary-dark;
    color: #fff;
  }
}
