@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";

.clipboard-container {
  width: 100%;
  grid-column: 1/13;

  @media only all and (min-width: settings.$breakpoint-medium) {
    grid-column: 10/13;
    grid-row: 1;
    justify-self: right;
    margin: 0;
  }
}
