@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.authors {
  @include mixins.margin(12, "bottom");
}

.authors-list {
  @include mixins.margin(0);
  @include mixins.padding(0);

  display: inline;
  list-style: none;
}

.authors-list__item {
  @include typography.author-list-text();

  display: inline;

  &::before {
    content: ", ";
  }

  &:first-of-type {
    &::before {
      content: "";
    }
  }

  .authors--limit-3 & {
    @media only all and (max-width: settings.$breakpoint-medium) {
      &:last-of-type {
        &::before {
          content: " ... ";
        }
      }
    }
  }

  .authors--limit-10 & {
    @media only all and (min-width: settings.$breakpoint-medium) {
      &:last-of-type {
        &::before {
          content: " ... ";
        }
      }
    }
  }

  .authors--collapsible & {
    &:nth-of-type(1n + 3) {
      display: none;
    }

    @media only all and (min-width: settings.$breakpoint-medium) {
      &:nth-of-type(1n + 3) {
        display: inline;
      }

      &:nth-of-type(1n + 10) {
        display: none;
      }
    }

    &:last-of-type {
      display: inline;
    }
  }

  /* stylelint-disable no-descending-specificity */
  .authors-list--expanded & {
    &:nth-of-type(1n + 3) {
      display: inline;
    }

    &:last-of-type {
      display: inline;

      &::before {
        content: ", ";
      }
    }
  }
}

.authors-link {
  color: var(--color-text);
  text-decoration: none;

  &:visited {
    color: var(--color-text);
  }

  &:hover {
    color: var(--color-primary-dark);
  }
}

.authors-email__link {
  @include mixins.padding(26, "right");

  background: url("../../../images/icons/email.svg") no-repeat right 2px;
  background-size: 22px;
  display: inline-block;
}

.authors-list__expansion {
  display: none;

  .authors--collapsible & {
    @include typography.expansion-text();
    @include typography.font-size-and-vertical-height(16, 24);

    cursor: pointer;

    .authors-list__expansion-count {
      display: none;

      @media only all and (max-width: settings.$breakpoint-medium) {
        &.authors-list__expansion-count-3 {
          display: inline;
        }
      }

      @media only all and (min-width: settings.$breakpoint-medium) {
        &.authors-list__expansion-count-10 {
          display: inline;
        }
      }
    }
  }

  .authors--limit-3 & {
    @media only all and (max-width: settings.$breakpoint-medium) {
      display: inline;
    }
  }

  .authors--limit-10 & {
    @media only all and (min-width: settings.$breakpoint-medium) {
      display: inline;
    }
  }
}
