@use "../../../sass/typography";

.authors-list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.authors-list__item {
  @include typography.author-list-text();

  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child:after {
    content: "";
  }
}

.authors-list__expansion {
  @include typography.summary-count-text();

  cursor: pointer;
}
