@use "../../../sass/mixins";
@use "../../../sass/typography";

.authors {
  @include mixins.margin(12, "bottom"); 
}

.authors-list {
  @include mixins.margin(0);
  @include mixins.padding(0);

  display: inline;
  list-style: none;
}

.authors-list__item {
  @include typography.author-list-text();

  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}

.authors-list__expansion {
  @include typography.font-size-and-vertical-height(16, 24);
  @include typography.expansion-text();

  cursor: pointer;
  font-weight: 600;
}
