@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";


.term-description {
  @include typography.body-alternative();
}
.terms-list {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.term {
  @include typography.term-list-text();

  border: 0;
  border-radius: 4px;
  display: inline-block;
  letter-spacing: 0.2px;
  text-decoration: none;
  background-color: var(--color-button);
  color: var(--color-text);
  font-weight: 600;
  text-transform: none;
  border-radius: 4px;
  width: 90px;
  height: 26px;
  align-content: center;
  text-align: center;
}
