@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";

.term-description {
  @include typography.body-alternative();
  @include mixins.margin(8, "top");
  @include mixins.margin(0, "bottom");

  &::first-letter {
    text-transform: capitalize;
  }

  &:first-child {
    @include mixins.margin(16, "top");
  }

  &:last-of-type {
    @include mixins.margin(16, "bottom");
  }
}

.terms-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  padding-left: 0;
}

.term {
  @include typography.term-list-text();

  align-content: center;
  background-color: var(--color-button);
  border: 0;
  border-radius: 4px;
  color: var(--color-text);
  display: inline-block;
  font-weight: 600;
  height: 26px;
  letter-spacing: 0.2px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  width: 90px;

  &__highlighted {
    background-color: var(--color-primary);
    color: var(--color-background);
  }

  &::first-letter {
    text-transform: capitalize;
  }
}
