@use "../../../../sass/settings";
@use "../../../../sass/utilities";

.claims-tree-header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-inline: 56px;
  background-color: rgb(255 255 255);
}

.close {
  position: absolute;
  right: calc(50% - 16px);
  top: 40px;
  text-decoration: none;
  width: 32px;
  height: 32px;
  color: rgb(103 109 115);
  background-color: rgb(247 248 250);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only all and (min-width: settings.$breakpoint-small) {
    right: 56px;
  }
}

.header-actions {
  position: absolute;
  left: 56px;
  right: 56px;
  top: 80px;
  display: flex;
  gap: 8px;

  @media only all and (min-width: settings.$breakpoint-small) {
    right: auto;
    top: 40px;
  }
}

.back {
  text-decoration: none;
  height: 32px;
  padding-inline: 12px 16px;
  gap: 8px;
  font-family: var(--font-poppins, sans-serif);
  font-weight: 600;
  font-size: 14px;
  color: rgb(47 47 47);
  background-color: rgb(247 248 250);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.navigation-link {
  width: 32px;
  height: 32px;
  color: rgb(47 47 47);
  background-color: rgb(247 248 250);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.back + .navigation-link,
.header-actions > .navigation-link:first-child {
  margin-inline-start: auto;

  @media only all and (min-width: settings.$breakpoint-small) {
    margin-inline-start: 0;
  }
}

.navigation-link[aria-disabled="true"] {
  color: rgb(206 211 224);
  cursor: default;
}

a.close:hover,
a.close:active,
a.close:focus,
a.back:hover,
a.back:active,
a.back:focus,
a.navigation-link[href]:hover,
a.navigation-link[href]:active,
a.navigation-link[href]:focus {
  background-color: rgb(230 233 240);
}

.header-related-items {
  max-width: 656px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  padding-block-end: 24px;
}

.header-related-item {
  font-family: var(--font-dm-sans, sans-serif);
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  padding: 1px 8px;
  white-space: nowrap;
  color: rgb(47 47 47);
  background-color: rgb(230 233 240);
  border-radius: 4px;
}

h1 {
  font-family: var(--font-poppins, sans-serif);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  max-width: 656px;
  margin: 0 auto;
  padding-block: 88px 24px;
  line-height: 32px;
  color: rgb(47 47 47);

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    padding-block-start: 40px;
  }
}

.header-actions ~ h1 {
  padding-block-start: 128px;

  @media only all and (min-width: settings.$breakpoint-small) {
    padding-block-start: 88px;
  }

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    padding-block-start: 40px;
  }
}

h1 .supplementary {
  font-weight: normal;
}

h1.with-related-items {
  padding-block-end: 4px;
}
