@use "../../../../sass/utilities";

.close {
  position: absolute;
  right: 56px;
  top: 40px;
  text-decoration: none;
  width: 32px;
  height: 32px;
  color: rgb(103 109 115);
  background-color: rgb(247 248 250);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-actions {
  position: absolute;
  left: 56px;
  top: 40px;
  display: flex;
  gap: 8px;
}

.back {
  text-decoration: none;
  height: 32px;
  padding-inline: 12px 16px;
  gap: 8px;
  font-family: var(--font-poppins, sans-serif);
  font-weight: 600;
  font-size: 14px;
  color: rgb(47 47 47);
  background-color: rgb(247 248 250);
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.navigation-link {
  width: 32px;
  height: 32px;
  color: rgb(47 47 47);
  background-color: rgb(247 248 250);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-link[aria-disabled="true"] {
  color: rgb(206 211 224);
  cursor: default;
}

a.close:hover,
a.close:active,
a.close:focus,
a.back:hover,
a.back:active,
a.back:focus,
a.navigation-link[href]:hover,
a.navigation-link[href]:active,
a.navigation-link[href]:focus {
  background-color: rgb(230 233 240);
}

h1 {
  font-family: var(--font-poppins, sans-serif);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-block: 0;
  padding-block: 40px 56px;
  line-height: 32px;
  color: rgb(47 47 47);
}
