@use "../../../sass/typography";
@use "../../../sass/mixins";
@use "../../../sass/settings";

.figure {
  margin: 0;

  > img {
    border: 1px solid var(--divider);
    box-sizing: border-box;
    width: 100%;

    @include mixins.margin(18, "bottom");
    @include mixins.padding(12);
  }

  p {
    @include mixins.margin(0, "top");
  }
}

.figure__label {
  @include typography.heading-4();
  @include mixins.margin(12, "bottom");

  display: block;
}

.figure__caption {
  @include mixins.margin(12, "bottom");
  @include typography.font-size-and-vertical-height(14, 24);

  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-family: var(--font-family-primary);
  -webkit-line-clamp: 4;
  overflow: hidden;

  h1 {
    @include mixins.margin(0, "top");
    @include typography.heading-1();
  }

  h2 {
    @include mixins.margin(0, "top");
    @include typography.heading-2();
  }

  h3 {
    @include mixins.margin(0, "top");
    @include typography.heading-3();
  }

  h4 {
    @include mixins.margin(0, "top");
    @include mixins.margin(12, "bottom");
    @include typography.heading-4();
  }

  a {
    border-bottom: 1px dotted var(--link-decoration);
    color: var(--link-decoration);
    text-decoration: none;

    &:hover {
      border-bottom-color: var(--color-primary);
      color: var(--color-primary);
    }
  }
}

.figure__caption--expanded {
  -webkit-line-clamp: unset;
}

.figure__caption__button {
  background: url("../../../images/actions/arrow-down-blue.svg") no-repeat right -4px;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  display: block;
  font-family: var(--font-family-primary);
  font-weight: bold;

  @include mixins.margin(12, "bottom");
  @include mixins.padding(0, "left");
  @include mixins.padding(25, "right");
  @include typography.font-size(12);
}

.figure__caption__button.expanded {
  background: url("../../../images/actions/arrow-up-blue.svg") no-repeat right -2px;
}

.figure-container {
  @include mixins.margin(48, "bottom");

  border-bottom: 1px solid var(--divider);
}
