@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";

.socials-sharers {
  grid-column: 1/13;
  margin: 24px 0;

  @include mixins.padding(0, "left");

  li {
    display: inline-block;

    @include mixins.margin(6 6 6 0);

    @media only all and (min-width: settings.$breakpoint-medium) {
      &:first-child {
        margin-left: 0;
      }
    }
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    margin: 0;
  }
}

.email {
  background: url("../../../images/share/email.svg") no-repeat 0 0;
}

.twitter {
  background: url("../../../images/share/tweet.svg") no-repeat 0 0;
}

.facebook {
  background: url("../../../images/share/facebook.svg") no-repeat 0 0;
}

.linkedin {
  background: url("../../../images/share/linkedin.svg") no-repeat 0 0;
}

.reddit {
  background: url("../../../images/share/reddit.svg") no-repeat 0 0;
}

.mastodon {
  background: url("../../../images/share/mastodon.svg") no-repeat 0 0;
  cursor: pointer;
}

.socials-sharer {
  display: inline-block;
  height: 24px;
  text-decoration: none;
  text-indent: -10000px;
  transition: 25ms ease-out;
  width: 24px;

  @include mixins.margin(0 8);
  @include mixins.padding(2 0);

  &:first-child {
    margin-left: 0;
  }
}
