@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.article-flag__link {
  @include typography.badge-text();
  @include mixins.padding(6 10 6 10);

  background-color: settings.$color-button;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  min-height: 28px;
  text-decoration: none;

  &.article-flag__link-msa {
    color: settings.$color-primary;
  }
}
