@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.article-flag__link {
  @include typography.msa-link-text();
  @include mixins.padding(6 0);

  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: var(--dark-mode-color);
  }

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
