@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.article-flag__link {
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  @include typography.msa-link-text();
  @include mixins.padding(6 0);

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
