@use "../../../sass/settings";
@use "../../../sass/typography";

.article-flags__list_item {
  display: inline;
  padding-right: 6px;
}

.article-flags__link {
  @include typography.badge-text();

  background-color: settings.$color-less-light-grey;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 600;
  min-height: 28px;
  padding: 6px 10px;
  text-decoration: none;

  &.article-flags__link-msa {
    color: settings.$color-primary;
  }
}
