@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

%reference {
  @include typography.body();

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    font-family: var(--font-family-primary);
  }
}

.reference__title {
  @extend %reference;

  font-weight: bold;

  &::after {
    content: " ";
  }
}

.reference__title--link {
  font-weight: bold;
  text-decoration: none;

  @include typography.body();

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    font-family: var(--font-family-primary);
  }

  &:hover {
    color: var(--color-primary);
  }
}

.reference__origin {
  @extend %reference;
}

.reference__label {
  @extend %reference;

  &::after {
    content: " ";
  }
}

.reference__authors_list,
.reference__editors_list {
  @extend %reference;

  display: inline;
  list-style: none;
  padding: 0;
}

.reference__authors_list::after {
  content: " ";
}

.reference__author,
.reference__editor {
  display: inline;

  &:not(:first-child)::before {
    content: ", ";
  }
}

.reference__authors_list_suffix {
  @extend %reference;

  &::before {
    content: "(";
  }

  &::after {
    content: ") ";
  }
}

.reference__comments {
  @extend %reference;

  &::before {
    content: " ";
  }
}

.reference__doi {
  @extend %reference;

  display: block;

  @include mixins.margin(12 0 36);
  @include typography.body-small();

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    color: var(--color-text-secondary);
  }
}

%reference-link {
  text-decoration: none;

  @include typography.body-small();

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    color: var(--color-primary);
  }

  :visited {
    color: var(--color-primary);
  }
}

.reference__doi_link {
  @extend %reference-link;
}

.reference__external_link {
  @extend %reference-link;

  &::before {
    content: " | ";
    color: #e0e0e0;
  }
}
