@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.reference__title {
  @include typography.body-small();

  font-weight: bold;
}

.reference {
  @include mixins.margin(24, "bottom");
  @include typography.body-small();
}

.reference__label {
  &::after {
    content: " ";
  }
}

.reference__doi {
  @include mixins.margin(12 0 36);
  @include typography.body-small();

  color: var(--color-text-secondary);
}

.reference__doi_link {
  @include typography.body-small();

  color: var(--color-primary);
  font-weight: normal;
}
