@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.button {
  @include mixins.padding(8 20 8 12);
  @include typography.body-small();

  background-color: settings.$color-less-light-grey;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  max-height: 40px;
  text-decoration: none;
}

.button-icon {
  @include mixins.margin(6, "right");

  color: settings.$color-near-black;
  vertical-align: middle;
}
