@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.button {
  @include mixins.padding(8 18);
  @include typography.body-small();

  background-color: var(--color-primary);
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 0.2px;
  text-decoration: none;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.button--action {
  background-color: var(--color-button);
  color: var(--color-text);
  font-weight: 600;
  text-transform: none;

  &:hover {
    background-color: #d7d9de;
  }
}

.button--clipboard {
  @include mixins.padding(12 18 14 18);

  border: none;
  margin: 0 auto;
  max-height: 48px;
  width: 100%;
}

.button--cite-download {
  @include mixins.padding(12 18 14 18);

  background-color: var(--color-button);
  border: none;
  color: var(--color-text);
  margin: 0 auto;
  max-height: 48px;
  width: 100%;

  &:hover {
    background-color: #d7d9de;
  }
}

@mixin button-icon($background_image, $background_color: var(--color-button)) {
  @include mixins.padding(41, "left");

  background: url($background_image) $background_color no-repeat 11px 15px;
  vertical-align: middle;

  &.button--action {
    @include mixins.padding(20, "right");

    background-position-y: 8px;
  }
}

.button--icon-download {
  @include button-icon("../../../images/actions/download.svg");
}

.button--icon-share {
  @include button-icon("../../../images/share/share.svg");
}

.button--icon-citation {
  @include button-icon("../../../images/actions/cite.svg");
}

.button--icon-follow {
  @include button-icon("../../../images/actions/follow.svg");
}
