@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.button {
  @include mixins.padding(8 20 8 12);
  @include typography.body-small();

  background-color: settings.$color-button;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  max-height: 40px;
  text-decoration: none;
}

.button-icon {
  @include mixins.margin(6, "right");

  color: settings.$link-decoration;
  vertical-align: middle;
}

.default {
  @include mixins.padding(15 20 14);

  background-color: settings.$color-primary;
  color: #fff;
  font-weight: normal;
  text-transform: uppercase;

  &:hover {
    background-color: settings.$color-primary-dark;
  }
}

.download {
  @include mixins.padding(41, "left");

  background: settings.$color-button url("../../../images/actions/download.svg") no-repeat 11px 8px;
}

.share {
  @include mixins.padding(41, "left");

  background: settings.$color-button url("../../../images/share/share.svg") no-repeat 11px 8px;
}

.citation {
  @include mixins.padding(41, "left");

  background: settings.$color-button url("../../../images/actions/download.svg") no-repeat 11px 8px;
}

.follow {
  @include mixins.padding(41, "left");

  background: settings.$color-button url("../../../images/actions/follow.svg") no-repeat 11px 8px;
}

.email {
  @include mixins.padding(41, "left");

  background: settings.$color-primary url("../../../images/actions/email.svg") no-repeat 11px 8px;
}
