@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.button {
  @include mixins.padding(15 20 14);
  @include typography.body-small();

  background-color: settings.$color-primary;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  letter-spacing: 0.2px;
  max-height: 40px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: settings.$color-primary-dark;
  }
}

.button--action {
  @include mixins.margin(6, "right");
  @include mixins.padding(8 12);

  background-color: settings.$color-button;
  color: settings.$color-text;
  font-weight: 600;
  text-transform: none;

  &:hover {
    background-color: #d7d9de;
  }
}

.button--clipboard {
  @include mixins.padding(13 18);

  border: none;
  grid-column: 8/13;
  grid-row: 1;
  max-height: 48px;
  max-width: 212px;
  min-width: 212px;
  justify-self: right;
}

@mixin button-icon($background_image) {
  @include mixins.padding(41, "left");

  background-image: url($background_image);
  background-position-x: 11px;
  background-position-y: 15px;
  background-repeat: no-repeat;
  vertical-align: middle;

  &.button--action {
    @include mixins.padding(20, "right");

    background-position-y: 8px;
  }
}

.button--icon-download {
  @include button-icon("../../../images/actions/download.svg");
}

.button--icon-share {
  @include button-icon("../../../images/share/share.svg");
}

.button--icon-citation {
  @include button-icon("../../../images/actions/cite.svg");
}

.button--icon-follow {
  @include button-icon("../../../images/actions/follow.svg");
}
