@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.review-timeline {
  @include mixins.padding(24, "bottom");
  @include mixins.margin(24, "bottom");
  @include mixins.padding(72, "right");

  margin: 0 0 0 auto;

  &:last-child {
    @include mixins.padding(0, "right");
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    @include mixins.margin(24, "top");
    @include mixins.margin(24, "bottom");

    flex-grow: 1;
    max-width: 200px;
    min-width: 100px;
    width: min-content;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(0, "top");
    @include mixins.margin(24, "bottom");
    @include mixins.margin(0, "left");
    @include mixins.padding(0, "right");

    border-bottom: var(--border);
    max-width: 100%;
    width: 100%;
  }
}

.review-timeline__list {
  @include mixins.padding(0, "left");

  list-style: none;
  margin: 0;
  padding-left: 0;
}

.review-timeline__event {
  @include typography.body-small();

  font-weight: 600;
  margin: 0;

  @include mixins.margin(8, "bottom");

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(0, "bottom");
  }
}

.review-timeline__date {
  @include typography.font-size-and-vertical-height(12, 24);

  color: var(--color-text-secondary);
  font-family: var(--font-family-primary);
  font-weight: 600;
  margin: 0;

  @include mixins.margin(8, "bottom");

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(16, "bottom");

    &:last-child {
      @include mixins.margin(0, "bottom");
    }
  }
}

.review-timeline__description,
.review-timeline__link {
  @include typography.font-size-and-vertical-height(12, 24);

  color: var(--color-text-secondary);
  font-family: var(--font-family-primary);
  font-weight: 600;
  text-decoration: none;
}

.review-timeline__link {
  &::before {
    color: var(--color-text-secondary);
    content: "\00a0\00a0•\00a0\00a0";
  }

  &:hover {
    color: var(--color-primary);
  }
}
