@use "../../../sass/settings";
@use "../../../sass/typography";

.review-timeline {
  border-bottom: settings.$border;
  margin-top: 24px;
  padding-bottom: 24px;
}

.review-timeline__list {
  list-style: none;
  padding-left: 0;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    display: flex;
    flex-flow: row wrap;
  }
}

.review-timeline__event {
  @include typography.body-small();

  flex-basis: 100%;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    flex-basis: 50%;
  }
}

.review-timeline__date {
  @include typography.body-small();

  color: settings.$color-text-inactive;
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 8px;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    flex-basis: 35%;
    flex-grow: 1;
    text-align: right;
  }
}

.review-timeline__reviews_link {
  @include typography.link-text();
}
