@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.review-timeline {
  @include mixins.margin(24, "top");
  @include mixins.padding(24, "bottom");

  border-bottom: settings.$border;
}

.review-timeline__list {
  @include mixins.padding(0, "left");
  @include mixins.margin(0);

  list-style: none;
  padding-left: 0;
}

.review-timeline__event {
  @include typography.body-small();

  font-weight: 600;
  margin: 0;

  @include mixins.margin(8, "bottom");

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(0, "bottom");
  }
}

.review-timeline__date {
  @include typography.body-small();

  color: settings.$color-text-inactive;
  font-weight: 600;
  margin: 0;

  @include mixins.margin(8, "bottom");

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(16, "bottom");

    &:last-child {
      @include mixins.margin(0, "bottom");
    }
  }
}

.review-timeline__link {
  @include typography.body-small();

  color: settings.$color-text-inactive;
  font-weight: 600;
  text-decoration: none;

  &::before {
    content: " • ";
  }
}
