@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.review-timeline {
  @include mixins.margin(24, "top");
  @include mixins.padding(24, "bottom");

  border-bottom: settings.$border;

  @media only all and (min-width: settings.$breakpoint-medium) {
    border-bottom: none;
    grid-column: 8/13;
    max-width: 232px;
    min-width: 100px;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    border-bottom: settings.$border;
  }
}

.review-timeline__list {
  @include mixins.padding(0, "left");
  @include mixins.margin(0);

  list-style: none;
  padding-left: 0;
}

.review-timeline__event {
  @include typography.body-small();

  font-weight: 600;
  margin: 0;

  @include mixins.margin(8, "bottom");

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(0, "bottom");
  }
}

.review-timeline__date {
  @include typography.font-size-and-vertical-height(12, 24);

  color: settings.$color-text-inactive;
  font-family: settings.$font-family-primary;
  font-weight: 600;
  margin: 0;

  @include mixins.margin(8, "bottom");

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(16, "bottom");

    &:last-child {
      @include mixins.margin(0, "bottom");
    }
  }
}

.review-timeline__link {
  @include typography.font-size-and-vertical-height(12, 24);

  color: settings.$color-text-inactive;
  font-family: settings.$font-family-primary;
  font-weight: 600;
  text-decoration: none;

  &::before {
    content: "\00a0\00a0•\00a0\00a0";
  }
}
