@use "../../../sass/mixins";
@use "../../../sass/typography";

.reference-list {
  list-style: none;
  padding: 0;
}

.reference-list__item {
  @include mixins.margin(24, "bottom");
  @include typography.body();

  font-family: var(--font-family-primary);
}
