.visuallyhidden {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 1px;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.question {
  list-style: none;
}

a.card {
  text-decoration: none;
}

.card {
  display: block;
  user-select: none;
  font-family: "DM Sans", sans-serif;
  background: rgb(247 248 250);
  color: rgb(47 47 47);
  border-radius: 8px;
  padding: 24px 32px 28px;
}

.card header {
  font-weight: 600;
}

.card article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heading related"
    "text text";
}

.card article header {
  grid-area: heading;
}

.card article p {
  grid-area: text;
}

.card article div {
  grid-area: related;
}

.card .dot {
  color: rgb(103 109 115);
}

.card header .supplementary {
  font-weight: normal;
  color: rgb(103 109 115);
}

.card .related {
  font-weight: 600;
  font-size: 14px;
}

.card * {
  user-select: text;
}
