.visuallyhidden {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 1px;
}

h1 {
  font-family: Poppins, sans-serif;
}

.question {
  list-style: none;
}

a.card {
  text-decoration: none;
}

.card {
  display: block;
  user-select: none;
  font-family: "DM Sans", sans-serif;
  background: rgb(247 248 250);
  color: rgb(47 47 47);
  border-radius: 8px;
  padding: 24px 32px 28px;
}

.card header {
  font-weight: bold;
}

.card .dot {
  color: rgb(103 109 115);
}

.card header .supplementary {
  font-weight: normal;
  color: rgb(103 109 115);
}

.card * {
  user-select: text;
}
