.visuallyhidden {
  border: 0;
  clip-path: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  user-select: none;
  width: 1px;
}

h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.question {
  list-style: none;
}

.claims {
  padding-inline-start: 40px;
  padding-block: 32px;
  margin-inline-start: 40px;
  border-inline-start: 2px solid rgb(207 212 226);
}

a.card {
  text-decoration: none;
  background-color: rgb(247 248 250);
  color: rgb(47 47 47);
}

a.card:hover,
a.card:active,
a.card:focus {
  background-color: rgb(230 233 240);
}

.card {
  display: block;
  user-select: none;
  font-family: "DM Sans", sans-serif;
  border-radius: 8px;
  padding: 24px 32px 28px;
}

.claims .card {
  margin-block-end: 32px;
}

.claims .card:last-child {
  margin-block-end: 0;
}

.card header {
  font-weight: 600;
}

.card article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heading related"
    "text text";
}

.card article header {
  grid-area: heading;
}

.card article p {
  grid-area: text;
}

.card article div {
  grid-area: related;
}

.card .dot {
  color: rgb(103 109 115);
}

.card header .supplementary {
  font-weight: normal;
  color: rgb(103 109 115);
}

.card .related {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: end;
}

.card .related .related-item {
  margin-inline-end: 6px;
  padding: 1px 10px;
  background-color: rgb(230 233 240);
  border-radius: 4px;
}

.card .related .related-item:last-child {
  margin-inline-end: 0;
}

.card * {
  user-select: text;
}
