@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";

.review-content {
  @include mixins.margin(36, "bottom");

  &:last-child {
    @include mixins.margin(0, "bottom");
  }

  .highlighted-term {
    font-weight: 600;

    @include typography.body-alternative();
  }

  p {
    @include typography.body();
  }

  a {
    color: var(--color-text);
  }

  blockquote {
    border-left: 1px solid var(--divider);
    margin: 0;

    @include typography.blockquote();
    @include mixins.padding(16, "left");

    p,
    li {
      @include typography.body-small();
    }

    strong {
      @include typography.heading-4();
    }
  }

  p:first-of-type strong {
    @include typography.heading-2();
  }
}

.review-content_body {
  display: block;

  @include typography.body();

  p img {
    max-width: 100%;
  }
}

.ga-review-content_links {
  // Used to catch data for Google Analytics - Do not remove
}
