@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";

.review-content {
  @include mixins.margin(36, "bottom");

  &:last-child {
    @include mixins.margin(0, "bottom");
  }

  .highlighted-term {
    @include typography.body();

    font-weight: 600;
  }

  p {
    @include typography.body();
  }

  blockquote {
    @include typography.blockquote();
    @include mixins.padding(16, "left");

    border-left: 1px solid var(--divider);
    margin: 0;

    p,
    li {
      @include typography.body-small();
    }

    strong {
      @include typography.heading-4();
    }
  }

  p:first-of-type strong {
    @include typography.heading-2();
  }
}

.review-content--assessment {
  @include mixins.margin(0 -24);
  @include mixins.padding(24);

  @media only all and (min-width: settings.$breakpoint-small) {
    @include mixins.margin(0 -48);
    @include mixins.padding(36 48);
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    @include mixins.padding(24 36);

    margin: 0;
  }

  background-color: var(--color-background);
}

.explananation_link {
  @include typography.body-small();
  @include typography.link-text();

  color: #0b70b9; // Only being used for review content component
  cursor: pointer;
}

.review-content_body {
  @include typography.body();

  display: block;

  p img {
    max-width: 100%;
  }
}

.ga-review-content_links {
  // Used to catch data for Google Analytics - Do not remove
}
