@use "../../../sass/settings";
@use "../../../sass/typography";
@use "../../../sass/mixins";

.review-content {
  .highlighted-term {
    @include typography.body();

    font-weight: 600;
  }

  p {
    @include typography.body();
  }

  blockquote {
    @include typography.blockquote();
    @include mixins.margin(0);
    @include mixins.padding(16, "left");

    border-left: 1px solid settings.$divider;

    p,
    li {
      @include typography.body-small();
    }

    strong {
      @include typography.heading-4();
    }
  }

  p:first-of-type strong {
    @include typography.heading-2();
  }
}

.review-content--assessment {
  @include mixins.margin(0 -24);
  @include mixins.padding(24);

  @media only all and (min-width: settings.$breakpoint-small) {
    @include mixins.margin(0 -48);
    @include mixins.padding(36 48);
  }

  @media only all and (min-width: settings.$breakpoint-medium) {
    @include mixins.margin(0);
    @include mixins.padding(24 36);
  }

  background-color: settings.$color-background;
}

.review-content_links {
  @include mixins.padding(0);
  @include mixins.margin(12 0 12 0);

  list-style: none;
}

.review-content_links-item {
  @include typography.body-small();

  display: inline;

  &::after {
    content: " • ";
  }

  &:last-child::after {
    content: "";
  }

  a {
    @include typography.link-text();
  }
}

.review-content_body {
  @include typography.body();

  display: block;
}
