@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.jump-menu {
  display: none;

  @media only all and (min-width: settings.$breakpoint-extra-large) {
    @include mixins.margin(24, "right");
    @include mixins.margin(24, "top");

    align-self: flex-start;
    display: block;
    max-width: 180px;
    position: sticky;
    top: 110px;
    width: 100%;
  }
}

.jump-menu-navigation {
  border-left: 2px solid var(--color-button);
  margin: auto;
  max-height: 80vh;
  max-width: 69.625rem;
  overflow: hidden auto;
}

.jump-menu-list {
  @include mixins.margin(0, "left");
  @include mixins.margin(21, "top");

  list-style: none;
  padding: 0;
}

.jump-menu-list__item {
  @include mixins.margin(24, "bottom");
  @include mixins.margin(-2, "left");
  @include mixins.padding(20, "left");

  border-left: 2px solid var(--color-button);
  min-width: 145px;

  &:hover {
    border-left: 2px solid var(--color-primary);
  }
}

.jump-menu-list__item:last-child {
  margin-bottom: 0;
}

.jump-menu-list__item--active {
  border-left: 2px solid var(--color-primary);
  margin-bottom: 24px;
}

.jump-menu-list__link {
  @include typography.navigation-heading();

  text-decoration: none;
}

.jump-menu-list__item--active .jump-menu-list__link {
  @include typography.navigation-heading-selected();
}
