@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.jump-menu {
  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(24, "right");
    @include mixins.margin(75, "top");

    align-self: flex-start;
    grid-column: 1/3;
    position: sticky;
    top: 96px;
  }
}

.jump-menu-navigation {
  border-left: 2px solid settings.$color-button;
  margin: auto;
  max-width: 69.625rem;
}

.jump-menu-list {
  @include mixins.margin(0, "left");
  @include mixins.margin(21, "top");
  @include mixins.padding(0);

  list-style: none;
}

.jump-menu-list__item {
  @include mixins.margin(24, "bottom");
  @include mixins.padding(20, "left");

  border-left: 2px solid settings.$color-button;
  min-width: 150px;

  &:hover {
    border-left: 2px solid settings.$color-primary;
  }
}

.jump-menu-list__item:last-child {
  margin-bottom: 0;
}

.jump-menu-list__item--active {
  border-left: 2px solid settings.$color-primary;
  margin-bottom: 24px;
  min-width: 150px;
}

.jump-menu-list__link {
  @include typography.navigation-heading();

  text-decoration: none;
}

.jump-menu-list__item--active .jump-menu-list__link {
  @include typography.navigation-heading-selected();
}
