@use "../../../sass/typography";
@use "../../../sass/mixins";

.metrics__title {
  @include typography.heading-2();
}

.metricsTable {

}

.metricsTable__group {
}

.metricsTable__label {
  @include typography.body();
  display: inline;

}

.metricsTable__value {
  @include typography.body();
  @include mixins.margin(0);

  font-weight: bold;
  display: inline;
  
  &::before {
    content: " ";
  }
}
