@use "../../../sass/typography";
@use "../../../sass/mixins";

.metrics__title {
  @include typography.heading-2();
}

.metricsTable {
  display: inline;
}

.metricsTable__group {
  align-items: center;
  display: inline-flex;
  margin-bottom: 4px;

  &::after {
    /* stylelint-disable-next-line no-irregular-whitespace */
    content: "  •  ";
    order: 2;
  }

  &:last-child::after {
    content: "";
  }
}

.metricsTable__label {
  display: inline;
  flex: 0 0 auto;
  order: 1;

  @include typography.body();

  &::before {
    /* stylelint-disable-next-line no-irregular-whitespace */
    content: " ";
  }
}

.metricsTable__value {
  display: inline;
  flex: 0 0 auto;
  font-weight: 600;
  order: 0;

  @include typography.body();
  @include mixins.margin(0);
}

.metricsTable__description {
  margin-top: 0;

  @include typography.body-small-alternative();
}
