@use "../../../../sass/utilities";

a.card {
  text-decoration: none;
  background-color: rgb(247 248 250);
  color: rgb(47 47 47);
}

a.card:hover,
a.card:active,
a.card:focus {
  background-color: rgb(230 233 240);
}

.card {
  display: block;
  user-select: none;
  font-family: var(--font-dm-sans, sans-serif);
  border-radius: 8px;
  padding: 24px 32px 28px;
}

.card * {
  user-select: text;
}

.card header {
  font-weight: 600;
}

.card p {
  color: rgb(47 47 47);
  line-height: 26px;
}

.card .dot {
  color: rgb(103 109 115);
}
