.previous-version-warning {
  background: url("../../../images/icons/previous-warning.svg") no-repeat 0 0;
  display: block;
}

.previous-version-warning__text {
  color: #000;
}

.previous-version-warning__link {
  color: #000;
}
