@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.previous-version-warning-container {
  @include mixins.padding(12);

  background-color: var(--color-background);
  container-name: warning;
  container-type: inline-size;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @media only all and (min-width: settings.$breakpoint-medium) {
    width: 100%;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    @include mixins.margin(-10, "left");
    @include mixins.margin(26, "bottom");

    width: 240px;
  }
}

.previous-version-warning {
  @include mixins.padding(24, "left");
  @include typography.body-small();

  background: url("../../../images/icons/previous-warning.svg") no-repeat 0 0;
  font-weight: 600;
  justify-content: center;

  @container warning (max-width: 480px) {
    display: flex;
    flex-direction: column;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    width: 100%;
  }
}

.previous-version-warning__text {
  @include mixins.margin(8, "left");

  display: inline-block;
}

.previous-version-warning__link {
  @include typography.font-size-and-vertical-height(14, 24);

  border-radius: 3px;
  color: var(--color-primary-dark);
  cursor: pointer;
  font-family: var(--font-family-primary);
  font-weight: 600;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}
