@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.contextual-data {
  @include mixins.padding(0, "left");

  list-style: none;
  margin-bottom: 24px;
  margin-top: 24px;
}

.contextual-data__item {
  @include typography.body-small();

  color: settings.$color-text-inactive;
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}

.contextual-data__item--highlight {
  font-weight: bold;
}
