@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.contextual-data {
  @include mixins.margin(24, "bottom");
  @include mixins.margin(24, "top");
  @include mixins.padding(0, "left");

  list-style: none;
}

.contextual-data__item {
  @include typography.body-small();

  color: var(--color-text-secondary);
  display: inline;

  &::after {
    content: ", ";
  }

  &:last-child::after {
    content: "";
  }
}

.contextual-data__item--highlight {
  font-weight: bold;
}
