@use "../../../../sass/utilities";

a.claim-card {
  text-decoration: none;
  background-color: rgb(247 248 250);
  color: rgb(47 47 47);
}

a.claim-card:hover,
a.claim-card:active,
a.claim-card:focus {
  background-color: rgb(230 233 240);
}

.claim-card {
  display: block;
  user-select: none;
  font-family: var(--font-dm-sans, sans-serif);
  border-radius: 8px;
  padding: 20px 24px;
}

.claim-card * {
  user-select: text;
}

.claim-card header {
  font-weight: 600;
}

.claim-card header .supplementary {
  font-weight: normal;
  color: rgb(103 109 115);
}

.claim-card p {
  color: rgb(47 47 47);
  line-height: 26px;
}

.claim-card article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heading related"
    "text text";
  column-gap: 8px;
}

.claim-card article header {
  grid-area: heading;
}

.claim-card article p {
  grid-area: text;
  margin-block: 0;
}

.claim-card article div {
  grid-area: related;
}

.claim-card .dot {
  color: rgb(103 109 115);
}

.claim-card .related {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  justify-content: end;
  align-self: start;
}

.claim-card .related .related-item {
  margin-inline-end: 6px;
  padding-block: 1px;
  display: flex;
}

.claim-card .related .related-item > span {
  flex-shrink: 0;
  padding-inline: 10px;
  background-color: rgb(230 233 240);
  border-radius: 4px;
}

.claim-card .related .related-item:last-child {
  margin-inline-end: 0;
}
