@use "../../../sass/mixins";
@use "../../../sass/settings";
@use "../../../sass/typography";

.tabbed-navigation__tabs {
  @include mixins.margin(0 -24 36);
  @include mixins.padding(0, "left");

  align-self: flex-start;
  background-color: #fff;
  border-bottom: settings.$border;
  display: flex;
  justify-content: center;
  list-style: none;
  position: sticky;
  top: 0;

  @media only screen and (min-width: settings.$breakpoint-small) {
    @include mixins.margin(0 -48 36);
  }

  @media only screen and (min-width: settings.$breakpoint-medium) {
    @include mixins.margin(0 0 36);
  }
}

.tabbed-navigation__tab-label {
  @include typography.body();
  @include mixins.padding(24 18);

  color: settings.$color-text-inactive;
  cursor: pointer;
  display: inline;
  font-family: settings.$font-family-primary;

  &.tabbed-navigation__tab-label--active {
    @include mixins.padding(0, "bottom");

    border-bottom: 4px solid settings.$color-primary;
    color: settings.$color-text;
    font-weight: 600;
  }
}
