@use "../../../sass/settings";
@use "../../../sass/typography";

.retraction-notice {
  background: url("../../../images/icons/attention.svg") no-repeat 0 0;
  background-color: var(--color-attention);
  color: var(--color-white);
  display: flex;
  flex-direction: row;
  font-family: var(--font-family-primary);
  font-weight: bold;
  justify-content: center;
  width: 100%;

  @include typography.font-size-and-vertical-height(14, 24);

  a {
    color: inherit;
  }

  @media only all and (min-width: settings.$breakpoint-large) {
    flex-direction: column;
  }
}
