name: CI Pipeline

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  push:
    branches:
      - master
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Read .nvmrc
        run: echo "NVMRC=$(cat .nvmrc)" >> $GITHUB_OUTPUT
        id: nvm
      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v3
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"
      - name: yarn install
        run: yarn
      - name: Lint
        run: yarn lint
      - name: Lint SASS
        run: yarn lint-sass
      - name: Unit Test
        run: yarn test
      - name: Production build
        run: yarn build
      - name: Install operating system dependencies
        run: |
          yarn playwright install
          yarn playwright install-deps
      - name: Bring up browser test stack
        run: docker compose -f docker-compose.browsertest.yaml up -d --wait
      - name: Debug bring up browser test stack
        if: failure()
        run: docker compose logs app
      - name: Browser Tests
        run: yarn test:browser
      - name: Take down browser test stack
        run: docker compose -f docker-compose.browsertest.yaml down
  build-and-push:
    needs: [test]
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push client image
        run: IMAGE_REPO_PREFIX=ghcr.io/elifesciences/enhanced-preprints- make build-prod-and-push
      - name: Build and push storybook image
        run: IMAGE_REPO_PREFIX=ghcr.io/elifesciences/enhanced-preprints- make build-storybook-and-push
