name: Pull Request Preview Environment

on:
  pull_request:
    types: [labeled, synchronize, opened, reopened]

jobs:
  build-preview-image:
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.pull_request.labels.*.name, 'preview') }}
    env:
      CLIENT_IMAGE_REPO: ghcr.io/elifesciences/enhanced-preprints-client
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build preview image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          target: prod
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ env.CLIENT_IMAGE_REPO }}:preview-${{ github.event.number }}
      - name: load preview image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          target: prod
          platforms: linux/amd64
          load: true
          tags: |
            ${{ env.CLIENT_IMAGE_REPO }}:preview-${{ github.event.number }}
      - name: run image
        run: docker run --rm -d --name "test_preview" -p 3000:3000 ${{ env.CLIENT_IMAGE_REPO }}:preview-${{ github.event.number }}
      - name: test /status endpoint
        run: curl --retry-all-errors --retry 5 http://localhost:3000/status
      - name: clean up running image
        run: docker stop test_preview
      - name: Get current date
        id: date
        run: echo "date=$(date --utc +%Y%m%d.%H%M)" >> $GITHUB_OUTPUT
      - name: Push preview image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          target: prod
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ env.CLIENT_IMAGE_REPO }}:preview-${{ github.event.number }}
            ${{ env.CLIENT_IMAGE_REPO }}:preview-${{ github.event.number }}-${{ github.event.pull_request.head.sha }}
            ${{ env.CLIENT_IMAGE_REPO }}:preview-${{ github.event.number }}-${{ github.event.pull_request.head.sha }}-${{ steps.date.outputs.date }}
