name: Publish Manuscript

on:
  workflow_dispatch:
    inputs:
      msid:
        required: true
        description: Manuscript ID
      doi:
        required: true
        description: Preprint DOI
      dateReviewedPreprint:
        description: Reviewed preprint posted (YYYY-MM-DD)
      dateSentForPeerReview:
        description: Sent for peer review (YYYY-MM-DD)
      datePostedToPreprintServer:
        description: Posted to preprint server (YYYY-MM-DD)
      urlPostedOnPreprintServer:
        description: Posted to preprint server (url)
      preprintServer:
        description: Preprint server
      msa:
        description: Subject areas (comma separated)

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  BRANCH_NAME: "publish-${{ github.event.inputs.msid }}"

jobs:
  publish-manuscript:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Read .nvmrc
        run: echo "NVMRC=$(cat .nvmrc)" >> $GITHUB_OUTPUT
        id: nvm
      - name: Use Node.js (.nvmrc)
        uses: actions/setup-node@v3
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"
          cache: yarn
      - name: yarn install
        run: yarn
      - name: Prepare manuscripts.json with manuscript version
        run: |
          cat manuscripts.json | \
            yarn publish-manuscript \
            --doi "${{ github.event.inputs.doi }}" \
            --msid "${{ github.event.inputs.msid }}" \
            --dateReviewedPreprint "${{ github.event.inputs.dateReviewedPreprint }}" \
            --dateSentForPeerReview "${{ github.event.inputs.dateSentForPeerReview }}" \
            --datePostedToPreprintServer "${{ github.event.inputs.datePostedToPreprintServer }}" \
            --urlPostedOnPreprintServer "${{ github.event.inputs.urlPostedOnPreprintServer }}" \
            --preprintServer "${{ github.event.inputs.preprintServer }}" \
            --msa "${{ github.event.inputs.msa }}" | \
            tee manuscripts-new.json > /dev/null
          # check the exit status of all commands in the pipeline
          status=("${PIPESTATUS[@]}")
          for i in "${!status[@]}"; do
            if [ "${status[$i]}" -ne 0 ]; then
              echo "Pipeline step $i failed with status ${status[$i]}"
              exit 1
            fi
          done
      - name: Replace manuscripts.json
        run: |
          mv manuscripts-new.json manuscripts.json
      - name: Create Pull Request (master)
        if: github.ref == 'refs/heads/master'
        uses: peter-evans/create-pull-request@v5
        with:
          draft: true
          branch: "${{ env.BRANCH_NAME }}"
          branch-suffix: short-commit-hash
          commit-message: "Publish manuscript ${{ github.event.inputs.msid }} using workflow"
          committer: GitHub Actions <action@github.com>
          title: "Publish manuscript ${{ github.event.inputs.msid }}"
          body:
            |
            Manuscript ID: ${{ github.event.inputs.msid }}
            DOI: ${{ github.event.inputs.doi }}

            Please review and merge.
          token: ${{ env.GITHUB_TOKEN }}
      - name: Commit changes to existing branch (not master)
        if: github.ref != 'refs/heads/master'
        uses: EndBug/add-and-commit@v9
        with:
          committer_name: GitHub Actions
          committer_email: action@github.com
          message: "Publish manuscript ${{ github.event.inputs.msid }} using workflow"
